/****通用*****/
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Regular, Helvetica, "Microsoft Yahei", Arial;
  text-align: center;
  min-width: 1080px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}
.lf {
  float: left;
}
.rt {
  float: right;
}
.clear {
  clear: both;
}
img {
  border: 0;
}
a {
  text-decoration: none;
  color: black;
}
.of-hide {
  overflow: hidden;
}
.of-hide .more {
  position: absolute;
  right: 0;
  bottom: 0;
}
.title {
  font-size: 18px;
  font-weight: 200;
  display: inline-block;
  padding: 8px 13px;
  margin-left: 5px;
  background: #f8f8f8;
  border-bottom: 4px solid #c40808;
  box-shadow: 0 5px 5px 0 #c9c9c9;
}
.title-more {
  position: absolute;
  top: 13px;
  padding: 3px 3px;
  background: #c40808;
  color: #fff;
  border-radius: 3px;
  right: 0;
}
.line {
  position: relative;
  display: inline-block;
  float: left;
  width: 100%;
  border: 1px solid #f1f1f1;
  top: -3px;
  left: 0;
  z-index: -1;
}
.md-content {
  margin-top: 30px;
  padding-left: 18px ;
  height: 100%;
}
a:hover .list-title {
  color: #c40808;
}
a:hover p {
  color: #c40808;
  text-decoration: underline;
}
.md-content-list {
  display: block;
  position: relative;
}
.md-content-list a {
  display: block;
}
.md-content-list .list-title {
  font-size: 16px;
  height: 30px;
  line-height: 30px;
}
.md-content-list .list-title span {
  display: inline;
  font-size: 12px;
  color: #ff0000;
  margin-right: 5px;
  padding: 1px 3px;
  border: 1px solid #ff0000;
  border-radius: 5px;
  vertical-align: 1px;
}
.more {
  float: right;
  color: #c40808;
  cursor: pointer;
  display: inline;
  height: auto;
  line-height: normal;
  padding: 1px 2px;
  margin-top: 3px;
}
.mg-top {
  margin-top: 20px;
  height: 340px;
  overflow: hidden;
}
/****topbar*****/
.topbar {
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #f8f8f8;
  border: 1px solid #e5e5e5;
  border-left-width: 0;
  border-right-width: 0;
}
.topbar-box {
  width: 1000px;
  margin: 0 auto;
}
.topbar-left {
  float: left;
  text-align: left;
}
.topbar-left li {
  float: left;
}
.topbar-left li:first-child:after {
  content: "|";
  padding: 0 10px;
  display: inline-block;
}
.topbar-right {
  float: right;
  margin-right: 12px;
}
/****header*****/
.header {
  height: 87px;
  width: 1000px;
  margin: 0 auto;
}
.header .logo {
  display: block;
  float: left;
  width: 288px;
  height: 100%;
  background: url(images/logo.png) center center no-repeat;
}
.header .nav li {
  float: left;
}
.header .nav li:not(.current-menu-item):hover a {
  color: #c40808;
}
.header .nav a {
  float: left;
  display: block;
  width: 70px;
  line-height: 81px;
}
.header .nav #menu-menu-1 li:first-child {
  margin-left: 15px;
}
.header .nav .current-menu-item a,
.header .nav .current-post-parent a,
.header .nav .current-menu-parent a,
.header .nav .current-post-ancestor a {
  color: #fff;
  background: #c40808;
  border-bottom: 6px solid #eec8c8;
}
.header .nav #docSearch {
  display: inline-block;
  width: 110px;
  height: 26px;
  font-size: 12px;
  position: relative;
  line-height: 26px;
  margin: 28px 0 0 12px;
  background: #c40808;
  border-radius: 5px;
  overflow: hidden;
}
.header .nav #docSearch:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 5px;
  left: 5px;
  background: url("images/search.png") no-repeat;
  z-index: 3;
}
.header .nav .search {
  width: 85px;
  color: #fff;
  outline: 0;
  border: none;
  background: #c40808;
  margin-left: 25px;
  font-size: 12px;
}
.header .nav .search::-webkit-input-placeholder {
  color: #fff;
}
.header .nav .search::-moz-placeholder {
  color: #fff !important;
}
.header .nav .search:-ms-input-placeholder {
  color: #fff !important;
}
/****banner*****/
.banner {
  position: relative;
  overflow: hidden;
  text-align: center;
}
.banner img {
  width: 100%;
}
/****content*****/
.content {
  width: 1000px;
  margin: 35px auto 15px auto;
  position: relative;
  text-align: left;
}
.row-list {
  letter-spacing: 1px;
  width: 270px;
}
.row-list h4 {
  font-size: 12px;
  color: #c40808;
}
.row-list i {
  padding-right: 3px;
  color: #e0e0e0;
  font-size: 13px;
  font-style: initial;
}
.row-list a {
  display: block;
  line-height: 30px;
  margin-bottom: 9px;
  border-bottom: 1px solid #e0e0e0;
}
.row-list a:hover {
  color: #c40808;
}
.row-list a:hover span {
  color: #c40808;
}
.row-list a:hover i {
  color: #c40808;
}
.row-list span {
  float: right;
  color: #b1b1b1;
  font-size: 12px;
}
/****icon*****/
.icon {
  position: absolute;
  right: -40px;
  bottom: 100px;
}
.icon a {
  display: block;
  height: 36px;
}
.icon a:first-child {
  margin-bottom: 5px;
}
.md-notice {
  height: 416px;
  width: 33.33%;
  position: relative;
  overflow: hidden;
}
.md-notice .md-content {
  margin-top: 22px;
  padding-right: 19px;
  border-right: 1px solid #e5e5e5 ;
  border-left: 1px solid #e5e5e5 ;
}
.md-notice .md-content-list {
  margin-top: 18px;
}
.md-notice .more {
  right: 10px;
}
.lately-project {
  height: 416px;
  width: 33.33%;
  position: relative;
  overflow: hidden;
}
.lately-project .title {
  margin-left: 20px;
}
.lately-project .md-content {
  padding-right: 19px;
  border-right: 1px solid #e5e5e5 ;
}
.lately-project .md-content .more {
  right: 10px;
}
.lately-project .md-content-list {
  width: 292px;
}
.lately-project .md-content-list a {
  overflow: hidden;
  height: auto;
  margin-bottom: 22px;
}
.lately-project p {
  float: right;
  width: 206px;
  margin: 11px 0 0 6px;
}
.course {
  height: 416px;
  width: 33.33%;
  position: relative;
  overflow: hidden;
}
.course .title {
  padding: 10px 22px;
  margin-left: 20px;
  border: 0;
  box-shadow: none;
  background: #c40808;
  color: #fff;
  position: relative;
}
.course .title span {
  display: block;
  border-width: 8px;
  border-style: solid;
  border-color: #c40808 transparent transparent transparent;
  position: absolute;
  left: 68px;
  bottom: -16px;
}
.course .md-content {
  padding-right: 19px;
  border-right: 1px solid #e5e5e5 ;
}
.course .md-content .more {
  right: 10px;
}
.news {
  position: relative;
  margin-top: 60px;
  width: 100%;
}
.news .md-content-list {
  display: block;
}
.news > .more {
  bottom: inherit;
  top: 20px;
  color: #c40808;
}
.row .md-content {
  margin-top: 30px;
  overflow: hidden;
  background: #f8f8f8;
  padding-bottom: 10px;
}
.row .md-content .md-content-list {
  float: left;
  width: 211px;
  margin: 0 15px;
  display: block;
}
.row .md-content .md-content-list:hover h4 {
  color: #c40808;
}
.row .md-content .md-content-list h4 {
  font-weight: 200;
  line-height: 47px;
}
.row .md-content .md-content-list p {
  margin-top: 10px;
  line-height: 22px;
}
.row .md-content .md-content-list p .more {
  background-color: #c40808;
  color: #fff;
  bottom: 3px;
  font-size: 10px;
}
.friendlink {
  width: 100%;
  margin-top: 60px;
}
.friendlink .md-content {
  padding: 0;
}
.friendlink .md-content-list li {
  display: inline-block;
  height: auto;
  min-height: 55px;
  margin-bottom: 22px;
  margin-right: 25px;
}
.friendlink .md-content-list li:last-child {
  margin-right: 0;
}
/****footer*****/
.footer {
  height: 103px;
  background: #f8f8f8;
  border-top: 4px solid #efefef;
}
.footer .footer-box {
  width: 1000px;
  margin: 20px auto;
  text-align: left;
}
.footer .footer-box .links {
  overflow: hidden;
}
.footer .footer-box .links ul {
  text-align: center;
}
.footer .footer-box .links ul li {
  display: inline-block;
}
.footer .footer-box .links ul li:first-child:before {
  display: none;
}
.footer .footer-box .links ul li:before {
  display: inline-block;
  content: "|";
  margin: 0 5px;
}
.footer .footer-box .links ul li a:hover {
  color: #c40808;
}
.footer .footer-box p {
  color: #c2c2c2;
  margin-top: 15px;
  text-align: center;
}
.footer .footer-box p .location {
  margin: 0 25px 0 5px;
}
.footer .footer-box p a {
  color: #c2c2c2;
}
.footer .footer-box p a:hover {
  color: #c40808;
}
/****notice*****/
.notice .notice-drug {
  position: relative;
}
.notice .notice-drug .drug-content {
  overflow: hidden;
  margin-top: 30px;
}
.notice .notice-drug .row-list {
  margin-left: 20px;
  float: right;
  width: 504px;
}
.notice .notice-drug .img {
  width: 476px;
  text-align: center;
  padding: 15px 0;
  background-color: #e0e0e0;
  float: left;
}
.notice .notice-food {
  position: relative;
  margin-top: 78px;
}
.notice .notice-food .md-content {
  margin-top: 50px;
  padding: 0;
  background-color: #fff;
  height: inherit;
}
.notice .notice-food .md-content-list {
  width: 286px;
  padding: 7px 7px 10px 7px;
  margin: 0;
  background-color: #f8f8f8;
}
.notice .notice-food .md-content-list:nth-child(2) {
  margin: 0 50px;
}
.notice .notice-food .md-content-list:hover {
  color: #c40808;
}
.notice .notice-food .md-content-list h4 {
  margin-top: 12px;
}
.notice .notice-food .md-content-list p {
  margin-top: 0;
  height: 130px;
  overflow: hidden;
}
.other {
  position: relative;
  margin-top: 75px;
}
.other .md-content {
  padding: 0;
  overflow: hidden;
}
.other .md-content .row-list {
  width: 766px;
}
.other .md-content .row-list a {
  line-height: 28px;
}
/****login*****/
.login {
  margin-top: 70px;
}
.login .process {
  text-align: center;
  margin: 0 auto;
  width: 885px;
  font-size: 16px;
  font-weight: bold;
}
.login .process .process-left {
  float: left;
  margin-left: 52px;
}
.login .process .process-right {
  float: right;
  margin-right: 52px;
}
.login .titlebar {
  margin-top: 40px;
}
.login form {
  width: 600px;
  margin: 40px  auto 30px auto;
  font-size: 16px;
}
.login form p {
  margin-top: 20px;
}
.login form label {
  font-weight: bold;
}
.login form label select {
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
}
.login form input {
  width: 100%;
  padding: 8px 0;
  line-height: 18px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
}
.login form .wpcf7-submit {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  color: white;
  background-color: #c40808;
  width: 100%;
}
.login form .wpcf7-textarea {
  margin-top: 10px;
  width: 100%;
}
.login form h3 {
  font-size: 16px;
  margin: 15px 0;
  font-weight: 200;
  text-align: center;
  color: #fff;
  line-height: 28px;
  background-color: #c50b0b;
}
.login form span {
  color: #c50b0b;
}
.login form .form-group {
  line-height: 35px;
}
.login form .form-group label {
  width: 111px;
  padding-right: 14px;
  text-align: right;
  display: inline-block;
}
.login form .radio .gender {
  width: 111px;
  padding-right: 14px;
  text-align: right;
  display: inline-block;
}
.login form .btn {
  padding: 5px 15px;
  background-color: #c50b0b;
  color: #fff;
  border: 0;
  margin: 10px 0 0 130px ;
}
.login .icon {
  bottom: 35px;
}
.login .login-msg .msg-title {
  height: 44px;
  text-align: center;
  background-color: #f8f8f8;
  line-height: 44px;
  font-size: 18px;
  color: #c40808;
}
.login .login-msg ul {
  font-size: 16px;
  color: #c40808;
  line-height: 30px;
  margin-top: 20px;
}
.login .login-msg ul li h4 {
  font-weight: normal;
}
.login .login-msg ul li p {
  color: #333;
}
/****location*****/
.location {
  position: relative;
  width: 1000px;
  margin: 35px auto 45px auto;
  text-align: left;
}
.location .introduce-text {
  margin-top: 35px;
}
.location .introduce-text .introduce {
  line-height: 2.5em;
  font-size: 18px;
  text-align: justify;
  text-indent: 2em;
  letter-spacing: 1px;
}
.location .location-message {
  width: 954px;
  margin: 35px auto 0 auto;
  text-align: center;
}
.location .location-message ul {
  text-align: left;
}
.location .location-message ul li {
  font-size: 18px;
  margin-bottom: 30px;
}
.location .location-message ul li img {
  margin-right: 10px;
  vertical-align: middle;
}
.location .location-message .lm-left {
  width: 320px;
}
.location #allmap {
  width: 952px;
  height: 370px;
  overflow: hidden;
  margin: 20px auto;
  font-family: "微软雅黑";
  border: 1px solid #b9b9b9;
}
.location .icon {
  bottom: 0;
}
/****training*****/
.list-block {
  width: 100%;
}
.training {
  position: relative;
}
.training .md-content {
  height: auto;
  padding-top: 35px;
  padding-bottom: 30px;
}
.online-learning {
  position: relative;
  margin: 60px 0;
}
.online-learning .md-content {
  padding-left: 10px;
}
/****table*****/
.table .icon {
  right: -45px;
  bottom: 95px;
}
.paging-package {
  overflow: hidden;
  margin: 10px 0;
}
.paging {
  width: 340px;
  margin: 0 auto;
  overflow: hidden;
}
.paging li {
  float: left;
  padding: 6px 12px;
  margin-right: -1px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}
.paging li:hover {
  background-color: #c40808;
}
.paging li:hover a {
  color: #fff;
}
.paging li:first-child {
  padding: 6px 20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.paging li:nth-child(2) {
  padding: 6px 20px;
}
.paging li:last-child {
  padding: 6px 20px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.paging a {
  color: #c40808;
  text-decoration: none;
}
.pager {
  overflow: hidden;
  margin-bottom: 53px;
}
.pager a {
  color: #c40808;
}
.pager .pager-list li {
  float: left;
  margin-right: 3px;
  height: 22px;
  line-height: 22px;
  padding: 4px 10px;
  background: #ededed;
  color: #c40808;
  font-size: 14px;
}
.pager .pager-list .bgcc {
  background-color: #c40808;
}
.pager .pager-list .bgcc a {
  color: #fff;
}
/****document*****/
.text-title {
  line-height: 38px;
  text-align: center;
  color: #c40808;
  background-color: #f8f8f8;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.release-time {
  line-height: 55px;
  text-align: right;
  padding: 0 20px;
  font-size: 14px;
}
.document {
  margin-bottom: 45px;
}
.document-content {
  font-size: 16px;
  padding: 0 20px;
  line-height: 30px;
}
.document-content p {
  text-indent: 32px;
}
.document-content ul {
  margin-left: 60px;
}
.document-content table {
  border: 1px solid #666;
  border-collapse: collapse;
}
.document-content table td {
  border: 1px solid #666;
}
.document-content table p {
  text-indent: inherit;
  padding: 0;
}
/****video*****/
.video {
  margin-bottom: 85px;
}
.video-content .video-plugIn {
  margin-top: 30px;
  text-align: center;
}
/****404*****/
.notFound {
  padding-top: 105px;
  overflow: hidden;
  font-family: Regular;
  font-size: 18px;
}
.notFound h3 {
  margin-top: 30px;
  font-size: 30px;
}
.notFound p {
  margin-top: 12px;
}
.notFound .btn {
  display: inline-block;
  color: #fff;
  margin-top: 25px;
  padding: 10px 25px;
  background-color: #ff9500;
}
/****results*****/
.results .icon {
  bottom: 65px;
}
.results_list {
  margin-bottom: 45px;
  overflow: hidden;
  display: block;
}
.media-left {
  float: left;
  padding: 0;
  text-align: center;
  border-bottom: 9px solid #c40808;
}
.media-left h4 {
  color: #c40808;
  font-size: 18px;
  font-weight: 200;
}
.media-left .day {
  height: 35px;
  line-height: 45px;
  margin-top: 13px;
  margin-bottom: 3px;
  font-size: 16px;
  color: #c40808;
  background: url(images/bg_day.png) no-repeat center;
}
.media-left .wrap {
  padding: 8px 16px;
  border-bottom: 1px solid #e7a8a8;
}
.media-text {
  margin-left: 10px;
  width: 850px;
  float: left;
  padding-top: 5px;
}
.media-text h3 {
  color: #c40808;
  font-weight: 200;
  font-size: 18px;
}
.media-text p {
  text-indent: 32px;
  margin-top: 15px;
  font-size: 16px;
  line-height: 1.5em;
}
/****project*****/
.project {
  padding: 25px 0;
}
.title .title-text {
  position: relative;
  padding-right: 5px;
  margin-right: 5px;
  border-right: 1px solid #cbcbcb;
}
.title .title-text:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-width: 4px;
  border-style: solid;
  border-color: transparent transparent transparent #cbcbcb;
  right: -9px;
  top: 7px;
}
.project-drug {
  position: relative;
}
.project-drug .drug-content {
  overflow: hidden;
  margin-top: 30px;
}
.project-drug .row-list {
  float: left;
  width: 508px;
  padding-right: 15px;
}
.project-drug .img {
  width: 476px;
  text-align: center;
  padding: 15px 0;
  background-color: #e0e0e0;
  float: right;
}
.project-food {
  margin-top: 65px;
  position: relative;
}
.project-food .md-content {
  height: auto;
  padding-top: 5px;
  padding-bottom: 35px;
}
.project-food .md-content-list:hover {
  color: #c40808;
}
.project-food .row .md-content .md-content-list h4 {
  line-height: 35px;
}
.project-food .md-content .md-content-list p .more {
  display: inline;
  height: auto;
  line-height: initial;
  padding: 1px 2px;
  background-color: #c40808;
  color: #fff;
  bottom: 3px;
}
/****newsCentent*****/
.item {
  overflow: hidden;
  display: block;
  width: 100%;
  margin-bottom: 48px;
}
.newsCenter .newsCenter-list {
  margin-top: 48px;
}
.newsCenter .media-text {
  width: 710px;
  margin-left: 23px;
}
.newsCenter .media-text h3 {
  font-size: 16px;
}
.newsCenter .media-text p {
  text-indent: inherit;
  margin-top: 25px;
  font-size: 14px;
}
.jssorb21 {
  position: absolute;
}
.jssorb21 div,
.jssorb21 div:hover,
.jssorb21 .av {
  position: absolute;
  width: 19px;
  height: 19px;
  text-align: center;
  line-height: 19px;
  color: white;
  font-size: 12px;
  background: url(images/b21.png) no-repeat;
  overflow: hidden;
  cursor: pointer;
}
.jssorb21 div {
  background-position: -5px -5px;
}
.jssorb21 div:hover,
.jssorb21 .av:hover {
  background-position: -35px -5px;
}
.jssorb21 .av {
  background-position: -65px -5px;
}
.jssorb21 .dn,
.jssorb21 .dn:hover {
  background-position: -95px -5px;
}
.page_navi {
  width: 100%;
  height: 34px;
  line-height: 34px;
  text-align: center;
  overflow: hidden;
  padding-top: 10px;
  position: relative;
  /*border-top: 1px solid #E8E8E8;*/
}
.page_navi a {
  display: inline-block;
  margin-right: 8px;
  height: 24px;
  line-height: 24px;
  padding: 2px 10px;
  background: #ededed;
  color: #c40808;
  font-size: 14px;
}
.page_navi a:hover,
.page_navi .current {
  color: #fff;
  background: #c40808 url(jb.png) no-repeat center top;
  text-decoration: none;
}
.page_navi .page-numbers {
  position: absolute;
  top: 5px;
  left: 15px;
  letter-spacing: 1px;
  font-family: 微软雅黑;
  color: #424242;
}
